* {
    border: none;
    border-radius: 0;
    color: white;
    font-size: 16px;
    font-family: "JetBrainsMono Nerd Font", monospace;
}

#waybar {
    background-color: black;
}

#workspaces {
    margin: 0 5px;
}

#workspaces button {
    color: #bbbbbb;
    background: transparent;
}

#workspaces button.active {
    color: #2e3440;
    background-color: #3e8fb0;
}

#disk.warning,
#battery.warning {
    color: orange;
}

#disk.critical,
#battery.critical {
    color: red;
}

#battery.charging {
    color: #22dd22;
}

#tray,
#disk,
#memory,
#cpu,
#wireplumber,
#battery,
#backlight,
#network,
#network,
#bluetooth {
    padding: 0 5px;
}
