@define-color foreground #eeeeee;
@define-color foreground-inactive #aaaaaa;
@define-color background #000000;

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

#workspaces button.empty {
    color: @foreground-inactive;
}

#memory,
#cpu {
    padding-right: 11px;
}

#workspaces {
    margin: 0 5px;
}

#workspaces button {
    padding: 0 10px;
    margin: 0 2px;
    border: none;
    border-radius: 5px;
    background: transparent;
    color: #bbbbbb;
}

#workspaces button.active {
    background-color: rgba(33, 204, 255, 0.933);
    color: #2e3440;
}

#clock.date {
    margin-right: 5px;
}

.modules-center {
    margin-left: -8px;
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#wireplumber,
#battery,
#backlight,
#language,
#network,
#bluetooth,
#tray {
    padding-right: 1em
}
